* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Normalize text files to LF in the repo
* text=auto

# Keep CSV data files exactly as-is (no conversion)
*.csv -text